{% block header %}{% include "partials/header.md.j2" %}{% endblock %}

{% block badges %}{% include "partials/badges.md.j2" %}{% block badges_extra %}{% endblock +%}
{% endblock %}

{% block donate %}{% include "partials/donate.md.j2" %}{% block donate_extra %}{% endblock +%}
{% endblock %}

{% block toc %}{% endblock %}

{% block screenshots %}{% include "partials/screenshots.md.j2" %}{% endblock %}

{% block install %}{% include "partials/install.md.j2" %}{% endblock %}

{% block usage %}{% include "partials/usage.md.j2" %}{% endblock %}

{% block extra %}{% endblock %}

{% block contributing %}{% include "partials/contributing.md.j2" %}{% endblock %}

{% block license %}{% include "partials/license.md.j2" %}{% endblock %}
